librosa==0.8.1
matplotlib==3.4.2
sounddevice==0.4.2
SoundFile==0.10.3.post1
streamlit==1.12.2
torch==1.12.1
torchaudio==0.12.1
transformers==4.21.3
gtts==2.2.4
pyannote.audio==2.0.1
pydub==0.25.1
fpdf==1.7.2